    .head-with-border{
        position:relative;
        h2{
            background-color: $mainColor;
            width: fit-content;
            color:#fff;
            padding:6px 25px;
            border-radius:12px;
            text-transform: uppercase;
            font-weight: 500;
            margin: 40px auto;
            &::after{
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                border: 1px solid #ddd;
                background-color: #ddd;
                width: 100%;
                transform: translateY(-50%);
                z-index: -1;
        }
        }
    }