$maxWidth:767px;
$maxMobile:"(max-width:767px)";
$minMobile:"(min-width:768px)";
$minMedium:"(min-width:992px)";
$minLarge:"(min-width:1200px)";
$mainColor: #e2494c;
$greyColor:#9c9c9c;

$float-left:left;
$float-right:right;
$text-left:left;